<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<link rel='stylesheet' href='../css/styles.css'>
		<link rel='stylesheet' href='../css/dog.css'>
		<script src='../js/dog.js' type='module'></script>
	</head>
	<body>
		<%- include('./nav'); %>
		<main>

		</main>
	</body>
</html>