<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<link rel='stylesheet' href='styles.css'>
		<link rel='stylesheet' href='dog.css'>
		<script id='dog' src='dog.js' type='module' dog='<%- JSON.stringify(dog); %>'' subBreed='<%- JSON.stringify(subBreed); %>'></script>
	</head>
	<body>
		<%- include('./nav'); %>
		<main>

		</main>
	</body>
</html>