<link rel='stylesheet' href='nav.css'>
<script src='nav.js'></script>
<nav style='height: 80px;'>
	<div class='nav-left'>
		<ul class='nav-links'>
			<li<%= (url && (url === '/')) ? ' class=current' : '' %>><a href='/' >Home</a></li>
			<li<%= (url && (url === '/dogs')) ? ' class=current' : '' %>><a href='/dogs' >All Dog Breeds</a></li>
		</ul>
		<% if (breed) { %>
			<div class='dog-page-title'>
				<% if (subBreed) { %>
					<span class='subbreed'><%= subBreed %></span>
				<% } %>
				<span class='breed'><%= breed %></span>
			</div>
		<% } %>
	</div>
	<div class='options'>
		<% if ((url && (url === '/dogs'))) { %>
		<div class='view-type grid-view'>
			<div class='grid'></div>
			<div class='list'></div>
		</div>
		<div class='search'>
			<input type='text' placeholder='search ðŸ¶'>
			<span class='clear'></span>
		</div>
		<% } %>
	</div>
</nav>