.cards {
	transition: all .3s;
}

nav:has(.grid-view) + main .cards {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 38px 28px;
}

nav:has(.list-view) + main .cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.card {
	position: relative;
	display: flex;
	width: 100%;
	transition: all .3s;
}

nav:has(.grid-view) + main .card {
	aspect-ratio: 1;
}

nav:has(.list-view) + main .card {
	height: 130px;
}

.card.loading {
	backdrop-filter: blur(2px);
	background-image: url(../images/dog-svgrepo-com.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

}

.dog-name {
	display: flex;
	position: absolute;
	z-index: 1;
	align-items: flex-end;
	justify-content: center;
	font-size: 16px;
	font-weight: 600;
	color: rgba(var(--accent), 0.8);
}

nav:has(.grid-view) + main .dog-name {
	padding: 6px 12px;
	top: -16px;
	left: 0;
	right: 0;
	margin: auto;
	width: fit-content;
	box-shadow: 0px 0px 14px -8px rgb(var(--dark));
	background-color: rgba(var(--light-warm), 0.8);
	border-radius: 8px;
	backdrop-filter: blur(32px);
}

nav:has(.list-view) + main .dog-name {
	top: 28px;
	left: 0;
	width: 180px;
}

.card[filter] .dog-name {
	gap: 5px;
}

.card[filter] .dog-name span {
	color: rgba(var(--accent), 0.6);
}

.slideshow-container {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 19px -13px 22px -21px rgba(var(--dark), 0.3), 4px 7px 15px -15px rgba(var(--dark), 0.3), 2px 0px 2px -2px rgba(var(--dark), 0.2), -2px -2px 4px -4px rgba(var(--dark), 0.3);
	overflow: hidden;
}

nav:has(.grid-view) + main .slideshow-container {
	border-radius: 4px;
}

nav:has(.list-view) + main .slideshow-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 180px;
	background-color: rgba(var(--medium-cool), 0.7);
	filter: brightness(1.07);
	backdrop-filter: blur(5px);
	box-shadow: 2px 0px 12px -8px rgb(var(--dark));
}

.loading .slideshow-container {
	display: none;
}

.slideshow {
	scroll-behavior: smooth;
	display: flex;
	overflow: scroll;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

nav:has(.grid-view) + main .slideshow {
	scroll-snap-type: x mandatory;
}

nav:has(.list-view) + main .slideshow {
	gap: 20px;
	padding-left: 196px;
	padding-right: 20px;
	background-color: rgba(var(--medium-cool), 0.7);
}

.slide {
	height: 100%;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
}

nav:has(.grid-view) + main .slide {
	width: 100%;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

nav:has(.list-view) + main .slide {
	padding: 8px 0;
}

.slide img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: default !important;
	user-select: none;
}

nav:has(.list-view) + main .slide img {
	border-radius: 4px;
}

.slide img.clicked {
	object-fit: contain;
}

.scroll-left,
.scroll-right {
	position: absolute;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	opacity: 0;
	align-items: center;
	transition: all .2s;
	cursor: pointer;
}

nav:has(.grid-view) + main .scroll-left,
nav:has(.grid-view) + main .scroll-right {
	background-color: rgba(var(--dark), 0.2);
	width: 16%;
}

nav:has(.list-view) + main .scroll-left,
nav:has(.list-view) + main .scroll-right {
	background-color: rgba(var(--dark), 0.5);
	width: 40px;
}

.scroll-left::after,
.scroll-right::after {
	content: '';
	position: absolute;
	display: flex;
	width: 94%;
	aspect-ratio: 1;
	background-color: rgba(var(--light-warm));
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-image: url(../images/chevron-left-circle-svgrepo-com.svg);
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-image: url(../images/chevron-left-circle-svgrepo-com.svg);
	opacity: 0;
	transition: all .2s;
}

.scroll-left {
	left: 0;
}

nav:has(.list-view) + main .scroll-left {
	left: 180px;
	z-index: 1;
}

.scroll-right {
	right: 0;
}

.scroll-right::after {
	transform: scaleX(-1);
}

.card:hover .scroll-left,
.card:hover .scroll-right {
	opacity: 1;
}

.card:hover .scroll-left::after,
.card:hover .scroll-right::after {
	opacity: 0.8;
}

.scroll-left:hover::after,
.scroll-right:hover::after {
	opacity: 1 !important;
}

.subbreed-list {
	gap: 4px;
	z-index: 1;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-padding-bottom: 4px;
}

nav:has(.grid-view) + main .subbreed-list {
	max-height: 52px;
	left: 4px;
	right: 4px;
	bottom: 8px;
}

nav:has(.list-view) + main .subbreed-list {
	width: 172px;
	max-height: 52px;
	left: 8px;
	bottom: 8px;
}

.subbreed-tag {
	display: flex;
	align-items: center;
	height: fit-content;
	width: fit-content;
	padding: 4px 8px;
	line-height: 14px;
	font-size: 13px;
	color: var(--dark);
	backdrop-filter: blur(32px);
	background-color: rgba(var(--light-warm), 0.8);
	border-radius: 8px;
	scroll-snap-align: end;
	scroll-snap-stop: always;
	user-select: none;
	cursor: pointer;
}

.subbreed-tag.selected {
	background-color: rgba(var(--light-warm), 1);
	border: 1px solid rgba(var(--accent), 0.8);
	padding: 3px 7px;
}

.subbreed-list::-webkit-scrollbar {
	width: 8px;
}

.subbreed-list::-webkit-scrollbar-thumb {
	border-radius: 2px;
}

nav:has(.grid-view) + main .subbreed-list::-webkit-scrollbar-thumb {
	background-color: rgba(var(--light-warm), 0.6);
}

nav:has(.list-view) + main .subbreed-list::-webkit-scrollbar-thumb {
	background-color: rgba(var(--dark), 0.5);
}

.loading .subbreed-list {
	display: none;
}