@property --accent-r {
	syntax: '<number>';
	initial-value: 80;
	inherits: false;
}

@property --accent-g {
	syntax: '<number>';
	initial-value: 90;
	inherits: false;
}

@property --accent-b {
	syntax: '<number>';
	initial-value: 60;
	inherits: false;
}

@keyframes changeAccentColor {
	50% {
		--accent-r: 20;
		--accent-g: 50;
		--accent-b: 100;
	}
}

:root {
	--dark: 102, 114, 121;
	--light-warm: 250, 250, 245;
	--light-cool: 238, 241, 240;
	--accent: var(--accent-r), var(--accent-g), var(--accent-b);
	animation: 20s changeAccentColor infinite;
}